.contact-section{
    padding: 80px 0;
}
.contact-section-wrapper{
    gap: 50px;
}
.contact-section-wrapper .contact-left{}
.contact-section-wrapper .contact-left img{
    width: 600px;
    height: auto;
    background: #343444;
    padding: 8px;
    border-radius: 20px;
}
.contact-section-wrapper .contact-right{}
.contact-section-wrapper .contact-right h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.contact-section-wrapper .contact-right p{
    margin-bottom: 30px;

}
.contact-section-wrapper .contact-right form{}
.contact-section-wrapper .contact-right form input,textarea{
    width: 100%;
    border: none;
    background: #343444;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 20px;
}